<h1>Demo#Hello</h1>
<p>Hello World</p>

<% caption = "No. " %>

<% @array.each do |no| %>
  <%= "#{caption} #{no}" %><br />
<% end %>

<% link_to("Index Page 1", :action => 'index') %>

<p> Go to <a href="/demo/index"> index page </a></p>
Go to <%= link_to('index page',{:action => 'index'}) %>

<hr />
ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page + 1 %><br />
<hr />
<%= params.inspect %>
<hr />
<%= "Go to "%> <%= link_to('index page',{:action => 'index'}) %>


